:root {
    --primaryColor: #ff0000;
    --secondColor: #ffffff;
    --accent1Color: #b90000;
    --backGroundColor: #515151;

    --headingFont: "Source Sons 3", sans-serif;
    --paragraphFont: "Montserrat", sans-serif;
}

main {
    background-color: var(--accent1Color);
    padding-bottom: 1rem;
}

#hero-image-background {
    max-width: 100%;
    display: none;
}

#form {
    width: 80%;
    margin: 0 auto;
    align-content: center;
    border-radius: 25px;
}

form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

form * {
    margin: 1rem 0;
    text-align: center;
    padding: 0.5rem 0;
    color: white;
}

#personal-information input,
#car-section select {
    margin: 0 auto;
    width: 95%;
}

fieldset {
    display: flex;
    flex-direction: column;
}

.required::before {
    content: "*";
    color: red;
}

#button-submitt {
    height: 6rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    background-color: var(--accent1Color);
    color: var(--backGroundColor);
    border-radius: 15px;
}

@media screen and (min-width: 820px) {
    main {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #hero-image-background {
        display: block;
        width: 100%;
        height: 100%;
    }

}