:root {
    --primaryColor: #c10909;
    --secondColor: #ffffff;
    --accent1Color: #b90000;
    --backGroundColor: #132345;

    --headingFont: "Source Sons 3", sans-serif;
    --paragraphFont: "Montserrat", sans-serif;
}

#buttons-filters {
    text-align: center;
}

#container-collection {
    max-width: 100%;
}

#container-collection img {
    width: 80%;
    margin-left: 1rem;
    border-radius: 25px;
    box-shadow: 0 0 10px var(--accent1Color);
}

#container-collection p{
    text-align: center;
    margin-left: -10px;
}

#container-collection div {
    margin: 1rem 0;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

button {
    padding: 0.5rem;
    background-color: var(--accent1Color);
    color: var(--backGroundColor);
    font-weight: bold;
}

article {
    text-align: center;
    margin: 0.5rem;
}

.list img {
    display: none;
}

@media screen and (min-width: 820px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        align-items: center;
    }
}