:root {
    --primaryColor: #dad5d5;
    --secondColor: #7b0c0c;
    --accent1Color: #901515;
    --backGroundColor: #132345;
    
    --headingFont: "Source Sons 3", sans-serif;
    --paragraphFont: "Montserrat", sans-serif;
}

main {
    text-align: center;
    background-color: var(--accent1Color);
    color: white;
}