:root {
    --primaryColor:  #596476;
    --secondaryColor: #f1f2f6;
    --thirdColor: #1c2826;
    --backgroundColor: hsl(233, 58%, 18%);
    --textColor: #c2d000;
    --primaryFont: "Ubuntu", sans-serif;
    --primaryFontWeight: 400;
    --secondaryFontWeight: 500;
    --fontBold: 700;
}

* {
    font-family: var(--primaryFont);
    color: var(--textColor);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

header,
main,
footer {
    max-width: 100%;
}

header {
    background-color: var(--backgroundColor);
    display: block;
    width: 100%;
    
}

.logo-commerce {
    border-radius: 5px;
    border: 2px solid var(--secondaryColor);
    margin: 2px;
    cursor: pointer;
}

#title {
    font-size: 50%;
    text-align: center;
    top: 15px;
    margin-left: 120px;
    position: absolute;
}

/*Ham Button*/
#menu {
    font-size: 2.5rem;
    border: 0;
    background: none;
    color: var(--textColor);
    position: absolute;
    right: 20px;
    top: 5px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

#navMenu.open a {
    display: block;
    font-weight: 400;
    transition: all 2s;
}

#navMenu {
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
}

#navMenu ul {
    list-style: none;
    display: block;
    width: 100%;
}

#navMenu a {
    display: none;
    text-align: right;
    padding: 15px 0;
    text-decoration: none;
    font-size: 150%;
    margin-right: 1rem;
}

#navMenu a:hover {
    background-color: transparent;
    color: var(--primaryColor);
}

/*Footer*/

footer {
    background-color: var(--backgroundColor);
    font-size: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social-media {
    margin: 2rem 0;
    text-align: center;
}

.social-medialogos {
    margin: 0 15px;
}

#footer-info {
    margin-bottom: 20px;
}

#information {
    margin-top: 20px;
}

/*Main Design*/

@keyframes animationMainPhoto {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes barAnimation2 {
    0% {
        transform: translateX(-500px);
    }

    50%{
        transform: translateX(500px);
    }

    100% {
        transform: translateX(-500px);
    }
}

@keyframes barAnimation1 {
    0% {
        transform: translateX(-300px);
    }

    100% {
        transform: translateX(300px);
    }
}

main {
    max-width: 100%;
    text-align: center;
    background-color: var(--primaryColor);
    border: 5px solid var(--textColor);
    border-radius: 5px;
    padding: 3rem 1rem;
    font-family: var(--primaryFont);
    font-weight: bold;
    font-size: 110%;
}

main h2, main h3 {
    font-weight: 900;
    font-size: 150%;
    padding: 1rem 0;
    background-color: #daefb3;
    margin: 1rem -0.5rem;
    border-radius: 15px;
}

#founder figure img {
    width: 100%;
    border-radius: 30%;
    box-shadow: 0 0 10px var(--thirdColor);
    margin: 1rem auto;
    animation: animationMainPhoto 2s ease-in-out infinite;
}

#calendar iframe{
    width: 100%;
    padding: 5px;
    margin: 1rem auto;
    border: 10px solid var(--thirdColor);
}

hr {
    width: 40%;
    margin: 1rem auto;
    animation: barAnimation 5s infinite
}

.collage img {
    width: 100%;
    border: 5px solid var(--textColor);
    border-radius: 15px;
    box-shadow: 0 0 5px var(--textColor);
}

.fig-images > figcaption{
    padding: 1rem;
}

#welcome p {
    animation: barAnimation 10s infinite;
    font-size: 200%;
    box-shadow: 0 0 5px var(--textColor);
}


/*Larges Views*/
@media screen and (min-width: 821px) {

    body {
        max-width: 1500px;
        margin: 0 auto;

    }
    header {
        display: grid;
        grid-template-columns: 20% 25% 55%;
        align-items: center;
        gap: 10px;
        /* overflow-x: hidden; */
        color: var(--textColor);
    }

    .logo-commerce {
        grid-column: 1 / 2;
        margin-left: 3rem;
    }

    #title {
        font-size: 90%;
        text-align: center;
        position: inherit;
        margin: 0 auto;
        grid-column: 2 / 3;
    }

    #menu {
        display: none;
    }

    #navMenu {
        font-size: 100%;
        /* grid-column: 3 / 4; */
        max-width: 800px;
    }

    #navMenu ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        max-width: 800px;
        justify-content: space-around;
    }

    #navMenu ul li {
        padding: 3rem;
        font-weight: 700;
        color: var(--textColor);
    }

    #navMenu ul li a {
        display: block;
        text-align: center;     
        text-decoration: none;
    }

    #navMenu ul li:hover {
        background-color: var(--thirdColor);
        color: var(--textColor);
    }

    #navMenu ul li:hover a {
        color: var(--secondaryColor);
    }


    /*Footer*/

    footer {
        background-color: var(--backgroundColor);
        font-size: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    #social-media {
        margin: 2rem 0;
        text-align: center;
    }
    
    .social-medialogos {
        width: 50px;
        margin: 0;
    }
    
    #footer-info {
        margin-bottom: 0;
    }
    
    #information {
        margin-top: 0;
    }
    
    /*Main*/

    #container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 5px;
    }

    hr {
        display: none;
    }

    #founder figure img,
    .collage img {
        width: 50%;
    }

    #founder figure img {
        box-shadow: 0 0 100px yellow;
    }

    main h2, main h3{
        margin: 1rem 1rem;
    }

    #welcome p {
        box-shadow: 0 0 0;
        margin: 1rem;
        animation: barAnimation2 10s infinite;
    }
}